@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html,
#app {
    position: fixed;
    inset: 0;
}

.tp-dfwv {
    width: 350px !important; /* Change from default ~280px to 350px */
}

a {
    text-decoration: none; /* removes underline */
    color: inherit; /* inherits color from parent */
}

/* Button Adapted From:
https://uiverse.io/vinodjangid07/afraid-falcon-17 */

:root {
    --button-color: var(--red);
}

#maths-writeup-button {
    position: fixed;
    bottom: 60px;
    left: 70px;
    z-index: 1000;
    background-color: var(--button-color);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition-duration: 0.3s;
    overflow: hidden;
}

#maths-writeup-button img {
    padding-bottom: 5px;
    transition-duration: 0.3s;
}

#maths-writeup-button:hover {
    width: 140px;
    border-radius: 5px;
    transition-duration: 0.3s;
    background-color: var(--button-color);
    align-items: center;

    /* 0.6 = 60% opacity, adjust as needed */
    transform: translateX(-35px);
    box-shadow:
        0px 0px 0px 4px color-mix(in srgb, var(--button-color) 10%, transparent),
        0 0 5px color-mix(in srgb, var(--button-color) 20%, transparent),
        0 0 20px color-mix(in srgb, var(--button-color) 40%, transparent),
        0 0 50px color-mix(in srgb, var(--button-color) 50%, transparent);
}

#maths-writeup-button:hover img {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-100%);
}

#maths-writeup-button::before {
    position: absolute;
    bottom: -20px;
    content: 'Read The Maths';
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
}

#maths-writeup-button:hover::before {
    font-size: 14px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}
